# PostgreSQL Database Connection String for Docker / Production
DATABASE_URL="postgresql://estimate_user:estimate_password@db:5432/estimate_db?schema=public"

# Application Port
PORT=3000
NODE_ENV=production
